/src/asm_main/asm_main.vcxproj.user
*.obj
*.tlog
*.pdb
*.lastbuildstate
*.log
*.exe
*.iobj
*.ipdb
*.opendb
*.sdf
*.suo
*.psess
*.vspx
*.ilk
*.idb
*.db
*.json
*.sqlite
*.db-shm
*.db-wal
*.user
*.ipch
*.tmp

